@font-face {
		font-family: 'Sucrose Bold Two';
		src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2') format('woff2');
		}
@font-face {
    font-family: 'IM Fell French Canon Pro';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2') format('woff2');
}

@font-face {
font-family: 'BravoRG';  
src: url("../fonts/BravoRG.otf") format("opentype"); 
font-style: normal; 
font-weight: normal;
 }

 table {
    width: 100%;
 }
td { text-align: center; }


* {
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("../img/background_part.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header 
{
/*	padding-top: 10%;*/
	background-size: cover;
  font-family: 'BravoRG';
  height: 20rem;
}
header img {
	position: absolute;
	top: 0;
	right: 0;
	width: 45.8%;
}
header h1 {
	position: fixed;
  font-size: 12vw;
  line-height: .8;
  margin-top: 3rem;
  margin-left: 3rem;
  text-align: center;
  color: #ffffff;
}

header h3 {
	position: fixed;
  font-size: 5vw;
  line-height: .8;
  margin-top: 1rem;
  margin-left: 3rem;
  text-align: center;
  color: #ffffff;
}

header h1 span {
  display: block;
  font-size: 8.75vw;
}

a{
    color:#4c6602;
}

main {
  background: #fff;
  font-family: 'BravoRG', 'IM Fell French Canon Pro';
  font-size: 1.7rem;
  line-height: 1.6;
  padding-inline: 10%;
}

@media all and (max-width: 400px) {
  main { padding: 2rem; }
}


.rightcolumn {
  float: left;
  width: 25%;
  background: #fff;
  padding-left: 20px;
}

.leftcolumn {
  float: left;
  width: 75%;
  height: 20%
}

.leftcolumn .form {
  height: 10em;
}

.success {
    font-family: 'IM Fell French Canon Pro';
    font-size: 3rem;
    line-height: 3;
    padding: 2rem 25%;
}

.inline { 
    display: inline-block; 
    border-block-end: 1px solid red;
    margin:5.4rem;
    }
	
.inline-no-border { 
    display: inline-block; 
    margin:5.4rem;
	padding-inline: 1.5rem;
    }

form {
  display: flex;
  flex-wrap: wrap;
  margin-block: 3rem;
}

.hidden {
    display:none;
}

input, select {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;
  margin: .75rem .1rem .75rem 1rem;
}

select {
      font-family: 'BravoRG', 'IM Fell French Canon Pro';
      font-size: 1.2rem;
}

[type="text"] {
    width: 20rem;
  }

[type="submit"] {
    background:#130c07;
    color:white;
    box-shadow: 0 .75rem .5rem -.5rem hsl(199deg 18% 20%)
  }
  
  @import url('https://fonts.googleapis.com/css?family=Oswald:500');
.back{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 30%;
  background: url("../img/background_part.jpg") no-repeat;
  background-size:cover;
}
.thx{
  position: fixed;
  left:50%;
  transform:translateX(-50%);
  bottom: 15px;
}
nav{
  width: 100%;
  position: fixed;
  text-align:center;
}
nav a, nav a span{
  font-family: 'Oswald', sans-serif;
  font-weight:600;
  text-transform:uppercase;
  text-decoration:none;
  color:antiquewhite;;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#16151b;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
 
}

.pricing-box-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.pricing-box {
	background-color: #ffffff;
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
	border-radius: 4px;
	flex: 1;
	padding: 0 30px 30px;
	margin: 2%;
	min-width: 250px;
	max-width: 350px;
}

.pricing-box h5 {
	text-transform: uppercase;
}

.price {
	margin: 24px 0;
	font-size: 36px;
	font-weight: 900;
}

.price sub, .price sup {
	font-size: 16px;
	font-weight: 100;
}

.features-list {
	padding: 0;
	list-style-type: none;
}

.features-list li {
	font-weight: 100;
	padding: 12px 0;
	font-weight: 100;
}

.features-list li:not(:last-of-type) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-primary {
	border-radius: 25px;
	border: none;
	background-color: #4c6602;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 15px;
	margin-top: 20px;
	text-transform: uppercase;
	transition: all 0.1s ease-in-out;
}

.btn-primary:hover {
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
	transform: translateY(-3px);
}

.pricing-box-bg-image .features-list li {
	border-bottom-color: rgba(255, 255, 255, 1);
}

.pricing-box-bg-image .btn-primary {
	background-color: #ffffff;
	color: #000;
}

footer {
	background-color: #222;
	color: #fff;
	font-size: 14px;
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	text-align: center;
}

footer p {
	margin: 10px 0;
}

footer i {
	color: red;
}

footer a {
	color: #3C97BF;
	text-decoration: none;
}

