<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
  <title>Список доставок</title>
  <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<div class="back"></div>
<nav>
  <div class="inline">
    <a href="courierAll">К списку курьеров</a>
  </div>
  <div class="inline" sec:authorize = "isAuthenticated()">
    <form class="hidden" name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
      <input type="submit" value="Logout" />
    </form>
    <a href="javascript: logoutForm.submit();"><img th:src="@{/img/login.png}"/>
      <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span><img th:src="@{/img/logout_white.png}"/>
    </a>
  </div>
</nav>
<body>
<header>
    <h3>Перечень оформленных доставок</h3>
  </header>
  <main>
    <table>
      <tr>
        <th>    Идентификатор заказа    </th>
        <th>    Идентификатор курьера    </th>
        <th>    Дата оформления доставки    </th>
        <th>    Дата доставки товара     </th>

      </tr>
      <tbody>
      <tr th:if="${deliveries.empty}">
        <td colspan="2"> Список доставок пуст. </td>
      </tr>
      <tr th:each="deliveries : ${deliveries}">
        <td><span th:text="${deliveries.idOrder}" name = "idO"> Title </span></td>
        <td><span th:text="${deliveries.idUser}" name="idU"> Title </span></td>
        <td><span th:text="${#temporals.format(deliveries.dateDeliveredStart, 'yyyy-MM-dd HH:mm')}">Title</span></td>
        <td><span th:text="${#temporals.format(deliveries.dateDeliveredEnd, 'yyyy-MM-dd HH:mm')}">Title</span></td>
        <td>
          <form th:action="@{'deliveryinfo'}">
            <input type="hidden" name="idO" th:value="${deliveries.idOrder}">
            <input type="hidden" name="idU" th:value="${deliveries.idUser}">
            <input type = "submit" value = "Детали заказа" class="btn btn-primary"/>
          </form>
        </td>
        </tr>
    </tbody>
  </table>
</main>
</body>
</html>
