<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<div class="back"></div>
<nav>
    <div class="inline">
        <a href="all">Клиенты</a>
        <a href="customer">Найти клиента</a>
        <a href="address">Добавить адрес</a>

        <a href="/delivery">На главную</a>

    </div>
    <div class="inline" sec:authorize="isAuthenticated()">
        <form class="hidden" name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
            <input type="submit" value="Logout"/>
        </form>
        <a href="javascript: logoutForm.submit();"><img th:src="@{/img/login.png}"/>
            <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span><img th:src="@{/img/logout_white.png}"/>
        </a>
    </div>
</nav>
<body>
<header>Address Save</header>
<main>

    <div class="leftcolumn">
        <form th:method="POST" th:action="@{/customer/address}" th:object="${saveAddress}"
              style="max-font-size: 250px; margin: 0 auto;">
            <div><span th:text="${message}"></span></div>
            <br>

            <div>
                <span>
                <input type="text" th:field="*{street}" id="street"/><label>Введите street: </label></span>

                <span>
                <input type="text" th:field="*{building}" id="building"/><label>Введите building:</label></span>

                <span>
                <input type="text" th:field="*{room}" id="room"/><label>Введите room:</label></span>

                <span>
                <input type="text" th:field="*{building_floor}"
                       id="building_floor"/><label> Введите building_floor: </label></span>
            </div>
            <input type="submit" value="Создать!" th:href="@{/customer/all}"/>
        </form>


    </div>

</main>
</body>
</html>





