<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Cписок заказов</title>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<div class="back"></div>
<nav>
    <div class="inline">
        <a href="../index">На главную</a>
        <a href="createOrder">Новый заказ</a>
    </div>
    <div class="inline" sec:authorize = "isAuthenticated()">
        <form class="hidden" name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
            <input type="submit" value="Logout" />
        </form>
        <a href="javascript: logoutForm.submit();"><img th:src="@{/img/login.png}"/>
            <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span><img th:src="@{/img/logout_white.png}"/>
        </a>
    </div>
</nav>
<body>
<header>
    <h1>Еда</h1>
</header>
<main>
    <p th:if="${orders.empty}">
        <td colspan="2"> Список заказов пуст. </td>
    </p>
    <form th:action ="@{all}" method="get" style="align-items: baseline;">
     <input type="date" th:value="${#temporals.format(filter, 'yyyy-MM-dd')}" name="filter" id="filter">
        <select name="filterStatus" id="filterStatus"  th:value="*{filterStatus}">
            <option th:each="code : ${statusList.keySet()}" th:value="${statusList.get(code)}"
                    th:text="${statusList.get(code).description}">
            </option>
        </select>
        <button type="submit" th:text="#{button.form.filter}" class="btn btn-primary" >Find</button>
    </form>
    <table  th:if="${!orders.empty}">
        <thead>
        <tr>
            <th> Номер заказа</th>
            <th> Номер клиента </th>
            <th> Статус </th>
            <th>       </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orders : ${orders}">
            <td><span th:text="${orders.id}"> Title </span></td>
            <td><span th:text="${orders.customer.phone}"> Title </span></td>
            <td><span th:text="${orders.status.description}"> Author </span></td>
            <td>
                <form th:action="@{{id}(id=${orders.id})}">
                    <input type = "submit" value = "Детали заказа" class="btn btn-primary"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
