<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<div class="back"></div>
<nav>
    <div class="inline">
        <a href="all">Клиенты</a>
        <a href="customer">Найти клиента</a>
        <a href="address">Добавить адрес</a>
        <a href="/delivery">На главную</a>

    </div>
    <div class="inline" sec:authorize="isAuthenticated()">
        <form class="hidden" name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
            <input type="submit" value="Logout"/>
        </form>
        <a href="javascript: logoutForm.submit();"><img th:src="@{/img/login.png}"/>
            <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span><img th:src="@{/img/logout_white.png}"/>
        </a>

    </div>
</nav>

<body>
<header>Client</header>
<main>
    <div class="form">
        <table>
            <tbody>
            <tr>
                <th> №</th>
                <th> Логин клиента</th>
                <th> email</th>

            </tr>
            <tr th:if="${users.empty}">
                <td colspan="2"> Список клиентов пустой.</td>
            </tr>
            <tr th:each="users, stats : ${users}">
                <td><span th:text="${stats.count}"> Title </span></td>
                <td><span th:text="${users.getLogin}"> Title </span></td>
                <td><span th:text="${users.getEmail}"> Author </span></td>
        </table>


    </div>

</main>
</body>
</html>

