<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
  <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>

<div class="back"></div>
  <nav>

    <div class="inline">
      <a href="../index">На главную</a>
    </div>
    <div class="inline">
      <a th:href="@{courierAll/registration}">Регистрация курьера</a>
    </div>
    <div class="inline" sec:authorize = "isAuthenticated()">
      <form class="hidden" name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
        <input type="submit" value="Logout" />
      </form>
      <a href="javascript: logoutForm.submit();"><img th:src="@{/img/login.png}"/>
        <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span><img th:src="@{/img/logout_white.png}"/>
      </a>
    </div>
  </nav>
<body>

  <header>
    <h1>Еда</h1>
  </header>
  <main>
    <p th:if="${couriers.empty}">
      <td colspan="2"> Список курьеров пуст. </td>
    </p>

    <table  th:if="${!couriers.empty}">
      <thead>
      <tr>
        <th>ID</th>
        <th>Логин</th>
        <th>Email</th>
<!--        <th>Количество активных заказов</th>-->
      </tr>
      </thead>
      <tbody>
      <tr th:each="couriers : ${couriers}">
        <td><span th:text="${couriers.id}"> Title </span></td>
        <td><span th:text="${couriers.login}"> Title </span></td>
        <td><span th:text="${couriers.email}"> Title </span></td>
        <td>
        <td><form th:action="@{'activdeliverylist'}">
          <input type="hidden" name="idO" th:value="${couriers.id}">
          <input type = "submit" value = "Активные заказы" class="btn btn-primary"/>
        </form></td>
        </td>
      </tr>
      </tbody>
    </table>
  </main>
</body>
</html>