<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Регистрация</title>
  <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<div class="back"></div>
<nav>
    <div class="inline">
        <a th:href="@{/index}">На главную</a>
        <a th:href="@{/orders/courierAll}">Курьеры</a>
    </div>
    <div class="inline" sec:authorize = "isAuthenticated()">
        <form class="hidden" name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
            <input type="submit" value="Logout" />
        </form>
        <a href="javascript: logoutForm.submit();"><img th:src="@{/img/login.png}"/>
            <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span><img th:src="@{/img/logout_white.png}"/>
        </a>
    </div>
</nav>

<body>
<header>
  <h1>Еда</h1>
</header>
  <main>
    <div class="leftcolumn">
      <p th:text="#{label.form.title}">form</p>
    <form th:action="@{registration}" th:object="${courier}" method="POST" style="max-width: 350px; margin: 0 auto;">
        <input th:field="*{login}" th:placeholder="#{placeholder.form.login}" required autofocus/>
        <p th:text="${userAlreadyExists}">Validation error</p>
        <input type="email" th:field="*{email}" th:placeholder="#{placeholder.form.email}"required />
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
        <input type="password" th:field="*{password}" th:placeholder="#{placeholder.form.password}" required />
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
      <input type="submit" th:value="#{label.form.submit}" class="btn btn-primary"/>
    </form>
    </div>
  </main>
</body>
</html>