<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
  <title>Оформление доставки</title>
  <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<div class="back"></div>
<nav>
  <div class="inline">
    <a href="all">Вернуться на главную</a>
  </div>
  <div class="inline" sec:authorize = "isAuthenticated()">
    <form class="hidden" name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
      <input type="submit" value="Logout" />
    </form>
    <a href="javascript: logoutForm.submit();"><img th:src="@{/img/login.png}"/>
      <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span><img th:src="@{/img/logout_white.png}"/>
    </a>
  </div>
</nav>
<body>
<header>
  <h3>Оформить доставку</h3>
</header>
<main>
  <table>
    <thead>
    <tr>
      <th> Номер заказа  </th>
      <th> Номер клиента  </th>
      <th> Статус </th>
      <th> Дата создания</th>
      <th>  </th>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${orders.empty}">
      <td colspan="2"> Список заказов пуст. </td>
    </tr>
    <tr th:each="orders : ${orders}">
      <td><span th:text="${orders.id}"> Title </span></td>
      <td><span th:text="${orders.customer.phone}"> Title </span></td>
      <td><span th:text="${orders.status.description}"> Title </span></td>
      <td><span th:text="${#temporals.format(orders.created, 'yyyy-MM-dd HH:mm')}"> Title </span></td>


      <td><form th:action="@{'createnewdelivery'}">
        <input type="hidden" name="idO" th:value="${orders.id}">
        <input type = "submit" value = "Оформить доставку" class="btn btn-primary"/>
      </form></td>

    </tr>
    </tbody>
  </table>
</main>
</body>
</html>
