<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
  <title>Детали заказа</title>
  <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<div class="back"></div>
<nav>
  <div class="inline">
    <a href="../index">На главную</a>
    <a href="all">Заказы</a>
    <a th:href="@{/customer/all}">Клиенты</a>
  </div>>
  <div class="inline" sec:authorize = "isAuthenticated()">
    <form class="hidden" name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
      <input type="submit" value="Logout" />
    </form>
    <a href="javascript: logoutForm.submit();"><img th:src="@{/img/login.png}"/>
      <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span><img th:src="@{/img/logout_white.png}"/>
    </a>
  </div>
</nav>
<body>
<header>
  <h1>Еда</h1>
</header>
<main>
  <div class="leftcolumn">
    <span th:if="${error}" th:text="${error}"/>
    <form th:action="@{createOrder}" th:object ="${order}" th:method="post" style="max-width: 350px; margin: 0 auto;">
      <label for="customers" th:text="#{label.form.customers}">Customers</label>
      <select th:field="*{customer}" id="customers">
        <option th:each="customer : ${customers.keySet()}" th:value="${customer.phone}"
                th:text="${customer.phone}">
        </option>
      </select>
      <p>
        <label for="addresses" th:text="#{label.form.addresses}">Customers</label>
        <select name="addresses" id="addresses">
          <option th:each="address: ${addresses}" th:value="${address.id_address}"
                  th:text="${address}">
          </option>
        </select>
      </p>
      <script  type="text/javascript">
      function sendAjaxRequest()
        {
          var customer = $("#customers").val();
          $.get( 'createOrder?customerPhone=' + customer
              , function( data ) {
                  window.location.href = 'createOrder?customerPhone=' + customer;
              }
           );
        };

        $(document).ready(function()
        {
            $("#customers").change(function()
          {
          sendAjaxRequest();
           });
        });
      </script>

      <p>
        <label for="startDate" th:text="#{label.form.startDate}">Start date</label>
        <input type = "date" th:value="${#temporals.format(order.startDate, 'yyyy-MM-dd')}" th:field="*{startDate}" id="startDate" required>
        <p th:text="${invalidOrderStartDate}">Validation error</p>
      </p>
      <p>
      <label for="deliveryDesiredTime" th:text="#{label.form.deliveryDesiredTime}">Start date</label>
      <input type = time th:field="*{deliveryDesiredTime}" name="deliveryDesiredTime" id="deliveryDesiredTime" required>
      </p>
      <input type = "submit" value = "Создать заказ" class="btn btn-primary"/>
    </form>
  </div>
</main>
</body>
</html>