<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<div class="back"></div>
<nav>
    <div class="inline">
        <a href="all">Клиенты</a>
        <a href="customer">Найти клиента</a>
        <a href="address">Добавить адрес</a>

        <a href="/delivery">На главную</a>

    </div>
    <div class="inline" sec:authorize="isAuthenticated()">
        <form class="hidden" name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
            <input type="submit" value="Logout"/>
        </form>
        <a href="javascript: logoutForm.submit();"><img th:src="@{/img/login.png}"/>
            <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span><img th:src="@{/img/logout_white.png}"/>
        </a>
    </div>
</nav>
<body>
<header>ClientID</header>
<main>

    <div class="leftcolumn">
        <form th:method="POST" th:action="@{/customer/customer}" th:object="${users}"
              style="max-width: 350px; margin: 0 auto;">
            <div>
                <label>Логин:
                    <u><span th:text="${users.getLogin()}"></span> </label></u>

                <label> Почта:
                    <u><span th:text="${users.getEmail()}"></span> </label></u>
            </div>
            <div>
                <label> Введите id: </label>
                <input type="text" th:field="*{id}" id="id"/>
                <input type="submit" value="Получить!"/>
            </div>

        </form>

    </div>

</main>
</body>
</html>