<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Ошибка</title>
  <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<div class="back"></div>
<nav>
  <div class="inline">
    <a href="all">Вернуться на главную</a>
  </div>
  <div class="inline" sec:authorize = "isAuthenticated()">
    <form class="hidden" name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
      <input type="submit" value="Logout" />
    </form>
    <a href="javascript: logoutForm.submit();"><img th:src="@{/img/login.png}"/>
      <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span><img th:src="@{/img/logout_white.png}"/>
    </a>
  </div>
</nav>
<body>
<header>
  <h1>Ой!</h1>
</header>
<main>
  <table>
    <thead>
    <tr>

    </tr>
    </thead>
    <tbody>

      <td colspan="2"> <span th:text="${mess}"></span> </td>

    </tbody>
  </table>
</main>
</body>
</html>
