<html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org">
<head>
	<link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<div class="back"></div>
<nav>
	<div class="inline" sec:authorize = "!isAuthenticated()">
		<a href="/#">Меню и цены</a>
		<a href="/#">Доставка</a>
		<a th:href="login"><img th:src="@{/img/login.png}"/>Войти</a>
	</div>
	<div class="inline" sec:authorize = "hasAnyAuthority('ADMINISTRATOR')">
		<a href="orders/all">Заказы</a>
		<a href="orders/courierAll">Курьеры</a>
		<a href="customer/all">Клиенты</a>
	</div>
	<div class="inline" sec:authorize = "hasAnyAuthority('COURIER')">
		<a href="courier/deliverylist/all">Просмотр списка доставок</a>
		<a href="courier/deliverylist/createdelivery">Оформить доставку</a>
	</div>
	<div class="inline" sec:authorize = "hasAnyAuthority('CUSTOMER')">
		<a href=#>Сделать заказ</a>
		<a href=#>Мои заказы</a>
		<a href=#>Профиль</a>
	</div>
	<div class="inline" sec:authorize = "isAuthenticated()">
		<form class="hidden" name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
			<input type="submit" value="Logout" />
		</form>
		<a href="javascript: logoutForm.submit();"><img th:src="@{/img/login.png}"/>
			<span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span><img th:src="@{/img/logout_white.png}"/>
		</a>
	</div>
</nav>
<body>
<header>
    <h1>Еда</h1>
</header>
<main>
	<div class="leftcolumn" id = "rations">
		<h1 class="text-center">У нас есть</h1>

		<div class="pricing-box-container">
			<div class="pricing-box text-center">
				<h5>Очень эконом</h5>
				<p class="price"><sup>руб</sup>500<sub>/день</sub></p>
				<ul class="features-list">
					<li></li>
					<li>Дёшево, калорийно.</li>
				</ul>
			</div>

			<div class="pricing-box pricing-box-bg-image text-center">
				<h5>Эконом</h5>
				<p class="price"><sup>руб</sup>700<sub>/день</sub></p>
				<ul class="features-list">
					<li></li>
					<li>Чуть дороже</li>
				</ul>
			</div>

			<div class="pricing-box text-center">
				<h5>Премиум</h5>
				<p class="price"><sup>руб</sup>890<sub>/день</sub></p>
				<ul class="features-list">
					<li></li>
					<li>В гречке есть масло</li>
				</ul>
			</div>
		</div>
	</div>	
		
</main>
</body>
</html>