<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>

<div class="back"></div>
<nav>
    <div class="inline">
        <a href="/delivery">На главную</a>
    </div>
</nav>

<body>

  <header>
    <h1>Еда</h1>
  </header>
  <main>
    <div class="leftcolumn">
        <div th:if="${param.error}" class="alert alert-error">
            Неправильные имя или пароль.
        </div>
      <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">
            <p th:text="#{label.form.loginTitle}">form</p>

            <input th:value="${login}!=null?${login}:''" type="text" id="username" name="username" placeholder="login" required autofocus/>
            <input type="password" id="password" name="password" placeholder="password" required />
            <input type="submit" value="Войти" class="btn btn-primary"/>
      </form>
    <p> Нет аккаунта?
    <a th:href="@{/registration}" th:text="#{label.form.registrationLink}">login</a>
    </p>
    </div>
  </main>
</body>
</html>