<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Детали заказа</title>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<div class="back"></div>
<nav>
    <div class="inline">
        <a href="../index">На главную</a>
        <a href="all">Заказы</a>
        <a th:href="@{/customer/all}">Клиенты</a>
    </div>>
    <div class="inline" sec:authorize = "isAuthenticated()">
        <form class="hidden" name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
            <input type="submit" value="Logout" />
        </form>
        <a href="javascript: logoutForm.submit();"><img th:src="@{/img/login.png}"/>
            <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span><img th:src="@{/img/logout_white.png}"/>
        </a>
    </div>
</nav>
<body>
<header>
    <h1>Еда</h1>
</header>
    <main>
      <div class="leftcolumn">
        <ul>
            <li>Номер заказа: <span th:text="${order.id}"></span></li>
            <li>Номер клиента: <span th:text="${order.customer.phone}"></span></li>
            <li>Статус: <span th:text="${order.status.description}"></span></li>
            <li>Дата создания: <span th:text="${#temporals.format(order.created, 'yyyy-MM-dd HH:mm')}"></span></li>
            <li>Дата последнего изменения: <span th:text="${#temporals.format(order.lastModified, 'yyyy-MM-dd HH:mm')}"></span></li>
<!--            <li>Сумма заказа: <span th:text="${order.orderSum}"></span></li>-->
            <li>Дата доставки: <span th:text="${order.startDate}"></span></li>
            <li>Время: <span th:text="${order.deliveryDesiredTime}"></span></li>
            <li>Адрес: <span th:text="${order.address}"></span></li>
        </ul>
          <th:block th:if="${order.status.getCode()} != 4 AND ${order.status.getCode()} != 5">
            <form th:action="@{editStatus}" th:object ="${order}" th:method="post">
                <input type="hidden" th:field="${order.id}" name="id" />
                <input type="hidden" th:field="*{customer}" th:value="${order.customer}" id="customer" />
                <select th:field="*{status}">
                    <option th:each="code : ${statusList.keySet()}" th:value="${statusList.get(code)}"
                            th:text="${statusList.get(code).description}">
                    </option>
                </select>
                <input type="hidden" th:field="${order.created}" name="created" />
<!--                <input type="hidden" th:field="${order.orderSum}" name="orderSum" />-->
                <input type = "submit" value = "Изменить статус заказа" class="btn btn-primary"/>
            </form>
          </th:block>
          <th:block th:if="${order.status.getCode()} == 4">
              <form th:action="@{{id}(id=${order.id})}" method="post">
                  <select name="courier" id="courier">
                      <option th:each="courier : ${couriersList}" th:value="${courier.id}"
                              th:text="${courier.login}">
                      </option>
                  </select>
                  <input type = "submit" value = "Назначить курьера" class="btn btn-primary"/>
              </form>
          </th:block>

      </div>
        <div class="rightcolumn">
            <table>
                <thead>
                <tr>
                    <th>Статус</th>
                    <th>Дата изменения</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="record : ${statusHistory}">
                        <td><span th:text="${record.status.description}"></span></td>
                        <td><span  th:text="${#temporals.format(record.date_set, 'yyyy-MM-dd HH:mm')}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
