<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Детали заказа</title>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<div class="back"></div>
<nav>
    <div class="inline">
        <a href="createdelivery">Оформить доставку</a>
        <a href="all">Вернуться на главную</a>
    </div>
    <div class="inline" sec:authorize = "isAuthenticated()">
        <form class="hidden" name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
            <input type="submit" value="Logout" />
        </form>
        <a href="javascript: logoutForm.submit();"><img th:src="@{/img/login.png}"/>
            <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span><img th:src="@{/img/logout_white.png}"/>
        </a>
    </div>
</nav>
<body>
<header>
    <h3>Детали заказа</h3>
</header>
<main>
    <div class="leftcolumn">
        <ul>
            <li>Номер заказа: <span th:text="${order.id}"></span></li>
            <li>Телефон клиента: <span th:text="${order.customer.phone}"></span></li>
            <li>Статус: <span th:text="${order.status.description}"></span></li>
            <li>Дата создания заказа: <span th:text="${#temporals.format(order.created, 'yyyy-MM-dd HH:mm')}"></span></li>
            <li>Дата последнего изменения: <span th:text="${#temporals.format(order.lastModified, 'yyyy-MM-dd HH:mm')}"></span></li>
            <li>Дата доставки: <span th:text="${order.startDate}"></span></li>
            <li>Время: <span th:text="${order.deliveryDesiredTime}"></span></li>
            <li>Адрес: <span th:text="${order.address}"></span></li>
        </ul>
        <td><form th:action="@{'newDelivery'}">
            <input type="hidden" name="idO" th:value="${order.id}">
            <input type = "submit" value = "Заказ доставлен" class="btn btn-primary"/>
        </form></td>



    </div>
    <div class="rightcolumn">
        <table>
            <thead>
            <tr>
                <th>Статус</th>
                <th>Дата изменения</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${statusHistory}">
                <td><span th:text="${record.status.description}"></span></td>
                <td><span th:text="${#temporals.format(record.date_set, 'yyyy-MM-dd HH:mm')}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
