<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Регистрация</title>
  <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<div class="back"></div>
<nav>

</nav>

<body>
<header>
  <h1>Еда</h1>
</header>
  <main>
    <div class="leftcolumn">
      <p th:text="#{label.form.title}">form</p>
    <form th:action="@{/registration}" th:object="${customer}" method="POST" style="max-width: 350px; margin: 0 auto;">
        <input th:field="*{login}" th:placeholder="#{placeholder.form.login}" required autofocus/>
        <p th:text="${userAlreadyExists}">Validation error</p>
        <input type="email" th:field="*{email}" th:placeholder="#{placeholder.form.email}"required />
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
        <input type="password" th:field="*{password}" th:placeholder="#{placeholder.form.password}" required />
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
        <input type="text" id="phone" name="phone" th:placeholder="#{placeholder.form.phone}" required />
      <!--  <div>-->
      <!--    <input type="password" th:field="*{matchingPassword}"/>-->
      <!--  </div>-->
      <input type="submit" th:value="#{label.form.submit}" class="btn btn-primary"/>
    </form>

    <a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a>
    </div>
  </main>
</body>
</html>